<!DOCTYPE html>
<html>
<head>
  <title>Welcome to My App!</title>
</head>
<body>
  <h1>Hello <%= @user.first_name %>,</h1>
  <p>Welcome to My App! We're excited to have you on board.</p>
  <p>Thank you for joining us!</p>
</body>
</html>